<template>
  <div class="partner-page container-fluid">
    <h1>PARTNER PAGE</h1>
    <div class="wrapper-create m-5">
      <button class="btn btn-success custom-btn" data-bs-toggle="modal" data-bs-target="#createModal">
        Create
      </button>
    </div>
    <div class="wrapper-table">
      <table class="table">
        <thead>
          <tr style="text-align: center;">
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(partner, index) in paginatedpartners" :key="partner.index" style="text-align: center;">
            <th>{{ (currentPage - 1) * itemsPerPage + index + 1 }}</th>
            <td>{{ partner.title }}</td>
            <td>
              <img :src="partner?.image?.url" class="partner-img img-fluid" alt="partner"  style="margin: auto;"/>
            </td>
            <td>
              <div class="wrapper-action">
                <button class="btn btn-danger" @click="deletePartner(partner)">
                  Delete
                </button>
                <button @click="openEditModal(partner)" data-bs-toggle="modal" data-bs-target="#editModal" class="btn btn-warning ml-2">Edit</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Only show pagination if there are more than 10 items -->
    <div class="pagination-container" v-if="partners.length > 10">
      <ul class="pagination">
        <li class="page-item">
          <button class="page-link" @click="currentPage -= 1" :disabled="currentPage === 1">
            &#8592; Previous
          </button>
        </li>
        <li v-for="page in visiblePages" :key="page">
          <button class="page-link" @click="currentPage = page" :class="{ 'active': currentPage === page }">
            {{ page }}
          </button>
        </li>
        <li class="page-item">
          <button class="page-link" @click="currentPage += 1" :disabled="currentPage === totalPages">
            Next &#8594;
          </button>
        </li>

      </ul>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade wrapper-modal" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create Partner</h1>
        </div>
        <div class="modal-body">
          <div class="wrapper-form-input">
            <input type="text" class="form-control" placeholder="Title" v-model="form.title" />
            <div class="input-group mt-3">
              <input ref="fileInput" type="file" class="form-control" v-on:change="onImageChange" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" @click="createPartnerAndClearModal" data-bs-dismiss="modal">
            Create
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade wrapper-modal" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editModalLabel">Edit Partner</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="wrapper-form-input">
            <input type="text" class="form-control" placeholder="Title" v-model="editForm.title" />
          </div>
          <div class="input-group mt-3">
            <input ref="editFileInput" type="file" class="form-control" @change="onEditImageChange" />
          </div>
        </div>
        <!-- Inside the Edit Modal -->

        <div class="modal-footer">
          <button type="button" class="btn btn-success" @click="updatePartnerAndClearModal" data-bs-dismiss="modal">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>


</template>
  
<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      partners: [],
      currentPage: 1,
      itemsPerPage: 10,
      limit: 1000, // Default limit
      page: 1,   // Default page
      file: "",
      form: {
        title: "",
        image: "",
      },
      editForm: {
        id: "",
        title: "",
      },
    };
  },
  computed: {
    paginatedpartners() {
      const startIndex = (this.currentPage - 1) * this.itemsPerPage;
      const endIndex = startIndex + this.itemsPerPage;
      return this.partners.slice(startIndex, endIndex);

    },
    totalPages() {
      return Math.ceil(this.partners.length / this.itemsPerPage);
    },

    visiblePages() {
      const maxVisiblePages = 5; // Adjust this value as needed
      const pages = [];

      if (this.totalPages <= maxVisiblePages) {
        for (let i = 1; i <= this.totalPages; i++) {
          pages.push(i);
        }
      } else {
        if (this.currentPage <= maxVisiblePages - 2) {
          for (let i = 1; i <= maxVisiblePages - 2; i++) {
            pages.push(i);
          }
          pages.push("...");
          pages.push(this.totalPages - 1);
          pages.push(this.totalPages);
        } else if (this.currentPage >= this.totalPages - maxVisiblePages + 3) {
          pages.push(1);
          pages.push(2);
          pages.push("...");
          for (let i = this.totalPages - maxVisiblePages + 3; i <= this.totalPages; i++) {
            pages.push(i);
          }
        } else {
          pages.push(1);
          pages.push(2);
          pages.push("...");
          for (let i = this.currentPage - 1; i <= this.currentPage + 1; i++) {
            pages.push(i);
          }
          pages.push("...");
          pages.push(this.totalPages - 1);
          pages.push(this.totalPages);
        }
      }

      return pages;
    },
  },
  methods: {
    setCurrentPage(page) {
      this.currentPage = page;
    },
    async getPartner() {
  try {
    const partners = await axios.get(`/slider/partner?limit=${this.limit}&page=${this.page}`);
    this.partners = partners.data;
    console.log(this.partners);
  } catch (error) {
    console.error("Error fetching partners:", error);
  }
},


    // delete
    async deletePartner(partner) {
      try {
        const result = await Swal.fire({
          title: "Confirm Deletion",
          text: "Are you sure you want to delete this partner?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Delete",
          cancelButtonText: "Cancel",
        });

        if (result.isConfirmed) {
          const deleteResult = await axios.delete(
            `/slider/partner/${partner._id}`
          );
          if (deleteResult.status === 200) {
            this.partners = this.partners.filter(
              (item) => item._id !== partner._id
            );
            Swal.fire({
              icon: "success",
              title: "Partner Deleted!",
              text: "The partner has been successfully deleted.",
              timer: 1500,
  showConfirmButton: false
            });
          }
        }
      } catch (error) {
        console.error("Error deleting partner:", error);
        Swal.fire({
          icon: "error",
          title: "Delete Failed",
          text: "Failed to delete the partner. Please try again.",
          timer: 1500,
  showConfirmButton: false
        });
      }
    },

    async onImageChange(e) {
      const fileData = e.target.files[0];
      const config = {
        headers: { "content-type": "multipart/form-data" },
      };

      let formData = new FormData();
      formData.append("file", fileData);
      const upload = await axios
        .post("/files/upload", formData, config)
        .then((res) => res.data);
      this.form.image = upload?._id;
    },

    async createPartner() {
      try {
        const createResponse = await axios.post("/slider/partner?limit=1000", this.form);
        if (createResponse.status === 201) {
          this.getPartner();
          this.form.title = "";
          this.form.image = "";
        }
      } catch (error) {
        console.error("Error creating homepage partner:", error);
      }
    },

    clearFileInput() {
      this.$refs.fileInput.value = "";
    },

  //create
    async createPartnerAndClearModal() {
      try {
        await this.createPartner();
        this.clearFileInput();
        Swal.fire({
          icon: "success",
          title: "Partner Created!",
          text: "The partner has been successfully created.",
          timer: 1500,
  showConfirmButton: false
        });
      } catch (error) {
        console.error("Error creating partner:", error);
        Swal.fire({
          icon: "error",
          title: "Create Failed",
          text: "Failed to create the partner. Please try again.",
          timer: 1500,
  showConfirmButton: false
        });
      }
    },

    // update
    async openEditModal(partner) {
      this.editForm.id = partner._id;
      this.editForm.title = partner.title;
      $("#editModal").modal("show");
    },
    async updatePartnerAndClearModal() {
      try {
        const updateData = {
          title: this.editForm.title,
        };

        if (this.editForm.image) {
          updateData.image = this.editForm.image; // Include image if it's updated
        }

        const updateResponse = await axios.put(
          `/slider/partner/${this.editForm.id}`,
          updateData
        );
        if (updateResponse.status === 200) {
          this.getPartner();
          this.editForm.id = "";
          this.editForm.title = "";
          this.editForm.image = "";
          $("#editModal").modal("hide");

          Swal.fire({
            icon: "success",
            title: "Partner Updated!",
            text: "The partner has been successfully updated.",
            timer: 1500,
  showConfirmButton: false
          });
        }
      } catch (error) {
        console.error("Error updating partner:", error);
        Swal.fire({
          icon: "error",
          title: "Update Failed",
          text: "Failed to update the partner. Please try again.",
          timer: 1500,
  showConfirmButton: false
        });
      }
    },

    async onEditImageChange(e) {
      const fileData = e.target.files[0];
      const config = {
        headers: { "content-type": "multipart/form-data" },
      };

      let formData = new FormData();
      formData.append("file", fileData);
      const upload = await axios
        .post("/files/upload", formData, config)
        .then((res) => res.data);
      this.editForm.image = upload?._id;
    },

  },
  async mounted() {
    const urlParams = new URLSearchParams(window.location.search);
    const limitParam = urlParams.get('limit');
    const pageParam = urlParams.get('page');

    // Update limit and page with query parameter values if provided
    if (limitParam) {
      this.limit = parseInt(limitParam);
    }
    if (pageParam) {
      this.page = parseInt(pageParam);
    }
    await this.getPartner();
  },
};
</script>
  
<style lang="scss" scoped>
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0;
}

.page-link {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.page-link.active {
  background-color: #007bff;
  color: #fff;
}

.page-link:hover {
  background-color: #e9e9e9;
}

.page-link:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

.page-link:focus {
  outline: none;
  box-shadow: none;
}



td {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.partner-page {
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .wrapper-create {
    display: flex;
    justify-content: flex-end;
  }
}

.partner-img {
  width: 200px;
  height: 100px;
  object-fit: contain;
}

.wrapper-modal {
  .modal-footer {
    .btn {
      color: green;

      &:hover {
        color: white;
      }
    }
  }
}
</style>
  